ul {
    list-style: none
  }
  .step.passed {
    color: #42f456;
  }
  .step.failed {
    color: #f44141;
  }
  .scenario {
    color: #41b5f4;
  }
  .feature {
    color: #02027f;
  }
  li{
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 5px;
  }
  
  